<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="painel_navbar">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <nav>
        <div class="nav-left">
            <a th:href="@{/}" class="nav-logo">nemesis</a>
            <div class="nav-breadcrumb">
                <span class="sep">/</span>
                <a th:href="@{/panelProdutos}">Painel</a>
                <span class="sep">/</span>
                <span class="current" th:if="${paginaAtiva == 'addProdutos'}">Novo produto</span>
                <span class="current" th:if="${paginaAtiva == 'listarProdutos'}">Todos os produtos</span>
                <span class="current" th:if="${paginaAtiva == 'categorias'}">Catar Gurias</span>
                <span class="current" th:if="${paginaAtiva == 'pedidos'}">Todos os Pedidos</span>
                <span class="current" th:if="${paginaAtiva == 'listarUsuarios'}">Todos os Usuarios</span>
            </div>
        </div>
        <div class="nav-right">
            "  <span th:if="${session.usuarioLogado.nome != null}" class="nav-user" th:text="${session.usuarioLogado.nome}">Usuário</span>
            <!--        <span class="nav-user" th:text="${session.usuarioLogado.tipo.ordinal()}">Usuário</span>-->

            <span th:if="${session.usuarioLogado.tipo.ordinal() == 0}" class="role-badge admin"> Admin</span>
            <span th:if="${session.usuarioLogado.tipo.ordinal() == 2}" class="role-badge func"> Funcionário </span>

            <form th:action="@{/logout}" method="post" class="logout-form">
                <button type="submit" class="logout-btn">Sair</button>
            </form>
        </div>
    </nav>

</div>
</body>
</html>